@page
@model OwaspDemo.Pages.IndexModel
@{
    Layout = null;
    ViewData["Title"] = "OWASP 2FA Demo - Home";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>Authenticated - you get cookies!</h1>
    <img src="images/authenticated.jpg" alt="authenticated image" class="img-banner">
    <div class="form">
        <form method="post">
            Get out of here, you maniac!
            <input type="submit" value="Logout"/>
            @Html.AntiForgeryToken()

            @if (!string.IsNullOrEmpty(Model.StatusMessage))
            {
                <div class="form-msg success-msg">
                    @Model.StatusMessage
                </div>
            }
        </form>
    </div>
</body>
</html>
